<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoYHpdxl4zSROBEoVowzyq1VEWqGa00xU</string>
	<key>GCM_SENDER_ID</key>
	<string>401094204328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterwize</string>
	<key>PROJECT_ID</key>
	<string>waterwise-2cba6</string>
	<key>STORAGE_BUCKET</key>
	<string>waterwise-2cba6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401094204328:ios:5bf9f52ed21d122c661b9d</string>
</dict>
</plist>